body {
	margin:0;
	padding:0;
	font-size:12px;
	font-family:宋体;
	background:#fff;
}

/*更改jQuery UI主题的对话框header的背景*/
.ui-widget-header {
	background:url(../img/ui_header_bg.png);
}
/*按钮正常状态的背景*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:url(../img/ui_header_bg.png);
}
/*按钮点击状态的背景*/
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background:url(../img/ui_white.png);
}
/*工具提示的文本颜色*/
.ui-tooltip {
	color:#666;
}
#loading {
	background:url(../img/loading.gif) no-repeat 20px center;
	line-height:28px;
	font-size:14px;
	font-weight:bold;
	text-indent:40px;
	color:#666;
}
#error {
	background:url(../img/error.png) no-repeat 20px center;
	line-height:28px;
	font-size:14px;
	font-weight:bold;
	text-indent:40px;
	color:#666;
}
#tabs {
	border:none;
}
#ui-tabs-1,#ui-tabs-2,#ui-tabs-3 {
	border:1px solid #aaa;
	border-top:none;
	position:relative;
	top:-2px;
}
#accordion {

}
/*tabs边框*/
#tabs .ui-tabs-panel{
	border: 1px solid #ccc;
	border: 0 1px 1px 1px;
	border-radius: 5px;
}
/*右侧accordion的默认高度*/
.ui-accordion-content{
	height: auto;
}
.a {
	font-size:30px;
}
#header {
	width:100%;
	height:40px;
	background:url(../img/header_bg.png);
}
#header .header_main {
	width:800px;
	height:40px;
	margin:0 auto;
}
#header .header_main h1 {
	font-size:20px;
	margin:0;
	padding:0;
	color:#666;
	height:40px;
	line-height:40px;
	padding:0 10px;
	float:left;
}
#header .header_search {
	padding:6px 0 0 0;
	float:left;
	position: relative;
} 
#header .header_search .search {
	width:300px;
	height:24px;
	border:1px solid #ccc;
	background:#fff;
	color:#aaa;
	font-size:14px;
	text-indent:5px;
}
#header .header_button {
	padding:5px;
	float:left;
}
.search_content{
	min-height: 100px;
	width: 300px;
	border: 1px solid #ccc;
	border-radius:5px; 
	background-color: #fff;
	position: absolute;
	z-index: 111;
	display: none;
}
.searched_title{
	padding:5px 20px ;
	border-bottom:1px solid #eee; 
}
.searched_title:hover{
	cursor: pointer; 
}
#main {
	width:800px;
	display: table;
	margin:0 auto;
	padding:10px 0 0 0;
	position: relative;
}
#main .main_left {
	width:580px;
	float:left;
}
#main .main_right {
	width:200px;
	float:right;
}

#main .main_content{
	float: left;
	width: 578px;
	border:1px solid #ddd;
	border-radius: 5px;
	position: relative;
}

#main .main_content .main_question{
	width: 100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
}
#main .main_content .main_question .main_question_item{
	width: 100%;
	background-color: #eee;
	box-sizing:border-box;
}
#main .main_content .main_question .main_question_item_id{
	display: none;
}
#main .main_content .main_question .main_question_item_author{
	margin:0 20px; 
	color: #333;
}
#main .main_content .main_question .main_question_item_title{
	color: #333;
}
#main .main_content .main_question .main_question_item_content{
	margin: 20px;
}
#main .main_content .main_question .main_question_item_show{
	float: right;
	margin-bottom:20px; 
}
#main .main_content .main_question .main_question_item_showUp,#main .main_content .main_question .main_question_item_show_comment{
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background-color: #fff;
	padding: 10px;
}
#main .main_content .main_question .main_question_item_showUp:hover,#main .main_content .main_question .main_question_item_show_comment:hover{
	cursor:pointer;
	color: #aaa;
}
#main .main_content .main_question hr{
	margin-top:50px ;
	clear: both;
}
#main .main_content .main_question .comment{
	clear: both;
	width: 80%;
	background-color: #fff;
	padding: 20px;
	margin: 0 auto;
	display: none;
}
#main .main_content .main_question .comment .comment_user,#main .main_content .main_question .comment .comment_words{
	display: inline-block;
	margin-right: 20px;
}
#main .main_content .main_question .comment hr{
	height: 1px;
	margin: 0;
}
#main .main_question_showmore{
	width: 100%;
	height: 50px;
	margin:0 0 ; 
	/*clear: both;*/
	background-color: #ccc;
	/*color: black;*/
	cursor: pointer;
	border-radius: 5px;
	/*子元素垂直居中*/
	display: flex;
	justify-content: center;
	align-items:center;
/*	display: table-cell;
	text-align: center;
	vertical-align: middle;
*/
}
#main .main_question_showmore:hover{
	box-shadow: 2px 2px #aaa;
	text-decoration:underline;
}

/*点击搜索的文章跳转页面*/
.to_searched{
	display: none;
}
.searched_comment{
	display: none;
	padding: 20px;
	background-color: #eee;
}
.searched_comment p{
	margin: 10px;
	border-bottom: 1px solid #fff;
}
.searched_comment span{
	display: inline-block;
	margin-right: 30px;

}

.to_top{
	position: absolute;
	width: 20px;
	height: 60px;
	bottom: 0px;
	right: -60px;
	padding: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.to_top:hover{
	cursor: pointer;
	box-shadow: 2px 2px 2px #ccc;
}
/*旋转木马*/
.slider{
	border: 2px solid #eee;
	border-radius: 5px;
	width:580px;
	height: 385px;
	margin:10px 0 ;
}
.slider div{
	overflow: hidden;
	background-color: #eee;
	box-sizing:border-box;
	/*width:575px;*/
	height: 100%;
	padding: 10px;
}
.slider img{
	width:95%;
	height: 95%;
}